<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  	<display-name>Jesscool! Man's dressing expert!</display-name>
		
	
	<filter>
        <filter-name>jesscool filter</filter-name>
        <filter-class>
            com.riseful.jesscool.secure.AuthorizeFilter
        </filter-class>
        <init-param>
            <param-name>allowRole</param-name>
            <param-value>1</param-value>
        </init-param>
    </filter>
    
    <filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>
		   	com.riseful.filters.SetCharacterEncodingFilter 
		</filter-class>
		<init-param>
		    <param-name>encoding</param-name>
		    <param-value>UTF-8</param-value>
		</init-param>
    	</filter>

	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<filter-mapping>
        <filter-name>jesscool filter</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>
    
	
	
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoAddArticleServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.DoAddArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyArticleServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.ModifyArticleServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DirectForwardServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.DirectForwardServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DoModifyArticleServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.DoModifyArticleServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddArticleServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.AddArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewArticleServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.ViewArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewMoreArticlesServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.ViewMoreArticlesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.UserLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddTagServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.AddTagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllTagsServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.AllTagsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelTagServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.DelTagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyTagServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.ModifyTagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoModifyTagServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.DoModifyTagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelArticleServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.DelArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArticlesUnderTagServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.ArticlesUnderTagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddTagToArticleServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.AddTagToArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveArticleTagServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.RemoveArticleTagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberForget</servlet-name>
		<servlet-class>com.riseful.jesscool.MemberForget</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeImgServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.ChangeImgServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAllImgTagServlet</servlet-name>
		<servlet-class>com.riseful.ajax.GetAllImgTagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImgCollectServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.ImgCollectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLogoutServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.UserLogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileManagementServlet</servlet-name>
		<servlet-class>com.riseful.jesscool.ProfileManagementServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateImgTagServlet</servlet-name>
		<servlet-class>com.riseful.ajax.UpdateImgTagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTagServlet</servlet-name>
		<servlet-class>com.riseful.ajax.DeleteTagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateImgServlet</servlet-name>
		<servlet-class>com.riseful.ajax.UpdateImgServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteImgServlet</servlet-name>
		<servlet-class>com.riseful.ajax.DeleteImgServlet</servlet-class>
	</servlet>
	
	
	<!-- url pattern -->
	<servlet-mapping>
    	<servlet-name>RemoveArticleTagServlet</servlet-name>
        <url-pattern>/secure/removeFromTag.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>AddTagToArticleServlet</servlet-name>
        <url-pattern>/secure/addTagToArticle.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>ArticlesUnderTagServlet</servlet-name>
        <url-pattern>/secure/getArticlesByTag.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>DelArticleServlet</servlet-name>
        <url-pattern>/secure/delArticle.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>DoModifyTagServlet</servlet-name>
        <url-pattern>/secure/doModifyTag.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>ModifyTagServlet</servlet-name>
        <url-pattern>/secure/modifyTag.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>DelTagServlet</servlet-name>
        <url-pattern>/secure/delTag.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>AllTagsServlet</servlet-name>
        <url-pattern>/secure/allTags.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>AddTagServlet</servlet-name>
        <url-pattern>/secure/addTag.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/userLogin.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>ViewMoreArticlesServlet</servlet-name>
        <url-pattern>/moreLook.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>ViewArticleServlet</servlet-name>
        <url-pattern>/viewLook.do</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home.do</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
    	<servlet-name>UserRegisterServlet</servlet-name>
    	<url-pattern>/userRegister.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
		<servlet-name>MemberForget</servlet-name>
		<url-pattern>/memberForget.do</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/profile.do</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>ChangeImgServlet</servlet-name>
		<url-pattern>/changeImg.do</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>GetAllImgTagServlet</servlet-name>
		<url-pattern>/getAllImgTag.do</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>ImgCollectServlet</servlet-name>
		<url-pattern>/imgCollect.do</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>UserLogoutServlet</servlet-name>
		<url-pattern>/userLogout.do</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>ProfileManagementServlet</servlet-name>
		<url-pattern>/profileManagement.do</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>UpdateImgTagServlet</servlet-name>
		<url-pattern>/updateImgTag.do</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>DeleteTagServlet</servlet-name>
		<url-pattern>/deleteTag.do</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>UpdateImgServlet</servlet-name>
		<url-pattern>/updateImg.do</url-pattern>    
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>DeleteImgServlet</servlet-name>
		<url-pattern>/deleteImg.do</url-pattern>    
    </servlet-mapping>
    
    
    <servlet-mapping>
    	<servlet-name>AddArticleServlet</servlet-name>
        <url-pattern>/secure/addArticle</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>DoAddArticleServlet</servlet-name>
        <url-pattern>/secure/doAddArticle</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>DoModifyArticleServlet</servlet-name>
        <url-pattern>/secure/doModifyArticle</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
    	<servlet-name>ModifyArticleServlet</servlet-name>
        <url-pattern>/secure/modifyArticle</url-pattern>
    </servlet-mapping>
    
   	<servlet-mapping>
    	<servlet-name>DirectForwardServlet</servlet-name>
        <url-pattern>/secure/adminActions</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>DirectForwardServlet</servlet-name>
        <url-pattern>/secure/go</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>/views/default.jsp</welcome-file>
	</welcome-file-list>

    
</web-app>
